<div class="card">
  <div class="card-header">Product Details</div>
  <div class="card-body">
    <table class="table table-sm table-bordered">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
          <a [routerLink]= "['/products/edit',product.id]">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <i class="fa fa-trash" (click)="delete(product.id)"></i>
        </td>
      </tr>
    </table>
  </div>
</div>