<div class="row">
  <div class="col-8 col-sm-8 col-md-8">
    <div class="card">
      <div class="card-header">Transaction Form</div>
      <div class="card-body">
        <form class="form" [formGroup]="transactionForm" (submit)="handleSubmit($event)">
          <div class="form-group">
            <label>From Account</label>
            <select class="form-control" formControlName="fromAccountNum">
              <option *ngFor="let account of accounts" [value]="account.num">{{account.num}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>To Account</label>
            <select class="form-control" formControlName="toAccountNum">
              <option *ngFor="let account of accounts" [value]="account.num">{{account.num}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Amount</label>
            <input type="number" class="form-control" formControlName="amount" />
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
        <hr/>
        <div class="alert alert-info" *ngIf="showStatus">{{status}}</div>
      </div>
    </div>
  </div>
</div>