<div class="row">
  <div class="col-8 col-sm-8 col-md-8">
    <div class="card">
      <div class="card-header">Product Form</div>
      <div class="card-body">
        <form class="form" [formGroup]="productForm" (submit)="submitProduct($event)">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" formControlName="name" />
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" formControlName="price"/>
          </div>
          <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="makeDate"/>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" formControlName="description"></textarea>
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>